{
  "data":[
    {
      "hostname":"127.0.0.1",
      "login":"{{ indicator.get('user','') }}",
      "menu_name":"byobu on localhost",
      "tab_name":"",
      "command_after_login":"byobu",
      "remote_command":"no",
      "x_forwarded":"no",
      "dont_show_guake":"no"
    }
  ],
  "andromeda":{
    "label":"andromeda",
    "data":[
      {
        "hostname":"pegasus.andromeda",
        "login":"matt",
        "menu_name":"pegasus.andromeda",
        "tab_name":"pegasus",
        "command_after_login":"",
        "remote_command":"no",
        "x_forwarded":"no",
        "dont_show_guake":"no"
      },
      {
        "hostname":"nova.andromeda",
        "login":"matt",
        "menu_name":"nova.andromeda",
        "tab_name":"nova",
        "command_after_login":"byobu",
        "remote_command":"no",
        "x_forwarded":"no",
        "dont_show_guake":"no"
      },
      {
        "hostname":"matt-thinkpad.andromeda",
        "login":"matt",
        "menu_name":"matt-thinkpad.andromeda",
        "tab_name":"matt-thinkpad",
        "command_after_login":"byobu",
        "remote_command":"no",
        "x_forwarded":"no",
        "dont_show_guake":"no"
      }
    ]
  },
  "local":{
    "label":"local",
    "data":[
      {
        "hostname":"pegasus.local",
        "login":"matt",
        "menu_name":"pegasus.local",
        "tab_name":"pegasus",
        "command_after_login":"",
        "remote_command":"no",
        "x_forwarded":"no",
        "dont_show_guake":"no"
      },
      {
        "hostname":"nova.local",
        "login":"matt",
        "menu_name":"nova.local",
        "tab_name":"nova",
        "command_after_login":"byobu",
        "remote_command":"no",
        "x_forwarded":"no",
        "dont_show_guake":"no"
      },
      {
        "hostname":"matt-thinkpad.local",
        "login":"matt",
        "menu_name":"matt-thinkpad.local",
        "tab_name":"matt-thinkpad",
        "command_after_login":"byobu",
        "remote_command":"no",
        "x_forwarded":"no",
        "dont_show_guake":"no"
      }
    ]
  }
}
