<?xml version="1.0"?>
<gconf>
	<entry name="new_tab" mtime="1405083039" type="string">
		<stringvalue>&lt;Primary&gt;F2</stringvalue>
	</entry>
	<entry name="next_tab" mtime="1405083045" type="string">
		<stringvalue>&lt;Primary&gt;F4</stringvalue>
	</entry>
	<entry name="previous_tab" mtime="1405083044" type="string">
		<stringvalue>&lt;Primary&gt;F3</stringvalue>
	</entry>
	<entry name="rename_tab" mtime="1405083041" type="string">
		<stringvalue>&lt;Primary&gt;F8</stringvalue>
	</entry>
</gconf>
